# Arquivos do sistema
.DS_Store

# CodeIgniter
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html

# Banco de dados de teste
tests/mocks/database/ci_test.sqlite

# Dependências
/vendor/

# Documentação
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDEs
/nbproject/
.idea/*
*.sublime-*

# Configurações sensíveis
/application/config/database.php
/application/config/config.php
/.env
