	<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mlbaunilha-erp/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>

# Railway specific
SetEnvIf PORT "^(\d+)$" SERVER_PORT=$1
